html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;    /* background-image , background-position */
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;                /* key 컨테이너에 flex 적용(flex container)*/
  flex: 1;                      /* flex-grow: 1 -> 모든 키들에게 균등하게 분배*/
  min-height: 100vh;            /* vh -> 1/100 view height => if view가 900px이면 1vh = 9px */
  align-items: center;          /* 키들의 세로 위치(주 방향과 수직 방향) */
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;          /* 애니메이션 효과 기타 설정: transition-property(트랜지션을 적용해야 하는 css속성), transition-duration, transition-timing-function(느낌) */
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);              /* 애니메이션 효과 자체: scale(숫자) 크기 변화하는 애니메이션*/
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
